<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/logo.png" />
    <title>Teman SIBI - Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    <nav>
        <div class="container">
            <div class="flex">
                <h3 class="title">
                    Teman SIBI
                </h3>
                <ul id="menu">
                    <li><a href="{{ url_for('index') }}">Our Mission</a></li>
                    <li><a href="{{ url_for('asl') }}">ASL</a></li>
                    <li><a href="{{ url_for('gesture') }}">Basic Gesutre</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="Application" class="container">
        <div class="bg">
            <div>
                <h3>Application Basic Gesture</h3>
            </div>

            <div class="frame">
                <img class="video" src="{{ url_for('gesture_video') }}" />
            </div>
        </div>
    </section>
</body>

</html>
